body {
    min-width: 350px;
    background-color: red;

    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    flex-direction: column;  /* so content stacks vertically */
}

#price_value {
    font-weight: bold;
    color: white;
    font-size: 12px;
}

button {
    background-color: beige;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
